[color]
	ui = auto
[user]
	name = Yachi Lo
	email = yaachi@gmail.com
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore
[pager]
  log = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
  show = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
  diff = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
