[color]
  ui = auto
[user]
  name = Yachi Lo
  email = yaachi@gmail.com
[push]
  default = simple
[core]
  excludesfile = ~/.gitignore
  autocrlf = input
[pager]
  log = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less -FRX
  show = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less -FRX
  diff = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less -FRX
[diff]
  algorithm = histogram
[grep]
  extendRegexp = true
  lineNumber = true
[alias]
  g = grep --break --heading --line-number
[help]
	autocorrect = -1
