[submodule ".janus"]
	path = .janus
	url = https://github.com/yachi/.janus.git
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "pidcat"]
	path = pidcat
	url = https://github.com/JakeWharton/pidcat.git
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "xcode-themes"]
	path = xcode-themes
	url = https://github.com/hdoria/xcode-themes.git
[submodule "custom-plugins/fuck"]
	path = custom-plugins/fuck
	url = https://gist.github.com/9151052.git
[submodule "solarized"]
	path = solarized
	url = https://github.com/altercation/solarized.git
