[color]
  ui = auto
[user]
  name = Yachi Lo
  email = yaachi@gmail.com
  signingkey = D909EF8D
[push]
  default = simple
[core]
  excludesfile = ~/.gitignore
  autocrlf = input
  pager = /usr/local/opt/git/share/git-core/contrib/diff-highlight/diff-highlight | less -FRX
  editor = nvim
[diff]
  algorithm = histogram
[grep]
  extendRegexp = true
  lineNumber = true
[alias]
  g = grep --break --heading --line-number
  dsf = "!f() { [ \"$GIT_PREFIX\" != \"\" ] && cd "$GIT_PREFIX"; git diff --color $@ | diff-so-fancy | less --tabs=4 -RFX; }; f"
[help]
  autocorrect = -1
[tag]
  sort = version:refname
[init]
  templatedir = ~/.git-templates
[git-up "bundler"]
  check = true
